<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <input id="playlist-name" placeholder="Playlist name">

    <ul id="tracks"></ul>

    <button onclick="openBrowser()">Add Tracks</button>

    <br><br>

    <button onclick="save()">Save</button>
    <button onclick="cancel()">Cancel</button>

    <script src="/static/app.js"></script>
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/static/sw.js");
        }
    </script>
</body>

</html>